name: Deploy files to dev
on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Deploy via rsync
        env:
          DEPLOY_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
          DEPLOY_HOST: ${{ secrets.SSH_HOST }}
          DEPLOY_USER: ${{ secrets.SSH_USER }}
          DEPLOY_PORT: ${{ secrets.SSH_PORT }}
        run: |
          mkdir -p ~/.ssh
          echo "$DEPLOY_KEY" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          ssh-keyscan -p $DEPLOY_PORT $DEPLOY_HOST >> ~/.ssh/known_hosts
          rsync -avz --delete --exclude=.git --exclude=.github -e "ssh -i ~/.ssh/deploy_key -p $DEPLOY_PORT" ./ $DEPLOY_USER@$DEPLOY_HOST:~/dev
          rm ~/.ssh/deploy_key
