name: Deploy files to dev-test

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Transfer files to server via rsync
        uses: burnett01/rsync-deployments@v6.0.0
        with:
          switches: -avz --delete --exclude=.git --exclude=.github
          path: ./
          remote_path: ~/dev-test
          remote_host: ${{ secrets.SSH_HOST }}
          remote_user: ${{ secrets.SSH_USER }}
          remote_key: ${{ secrets.SSH_PRIVATE_KEY }}
          remote_port: ${{ secrets.SSH_PORT }}
